.counties {
  fill: none;
}

.state-paths {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}
.tick {
  font-size: 14px;
}
.state:hover{
  fill-opacity:0.65;
}

.colormap-tooltip {
  position: absolute;
  margin: 10px;
  font-size: 14px;
  pointer-events: none;
  background:rgba(0,0,0,0.9);
  border:1px solid grey;
  border-radius:5px;
  width:auto;
  padding:4px;
  color:white;
  opacity:0;
}


